<header>
  <nav class="nav-bar">
    <a id="nav_logo" href="">OnTheMap</a>
    <div class="nav_div">
      <a class="nav_path" action="/home_page" method="GET" href="home_page">Home Page</a>
      <a class="nav_path" action="/favorites" method="GET" href="favorites">Favourites</a>
      <a class="nav_path" action="/users" method="GET" href="users">Users Page</a>
      <form action="/sessions/login" method="POST">
        Email: <input type="text" name="email">
        Password: <input type="text" name="password">
        <input type="submit" value="Submit">
        <a class="nav_path" action="/session/register" method="GET" href="/register">Register</a>
      </form>

    </div>
  </nav>
</header>
