  <nav class="nav-bar">
    <div class="nav_logo">
      <a  class="title_logo" action="/home_page" href="home_page">OnTheMap</a>
      <% if (user_id !==undefined) { %>
      <a  action="/favorites" method="GET" href="favorites">Favourites</a>
      <a  action="/users" method="GET" href="users">My Maps</a>
    </div>
    <form class="logout" method="POST" action="/logout">
      <button type="submit" name="logout">Logout</button>
    </form>

<% } else { %>
    <div class="nav_div">
      <form action="/login" method="POST" class="login">
        Email: <input type="text" name="email">
        Password: <input type="password" name="password">
        <button type="submit" name="login">Login</button>
      </form>
    </div>

    <div class="nav_path">
      <a action="/register" method="GET" href="/register">Register</a>
    </div>

<% } %>

  </nav>

