<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- CSS Styles -->
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />

  <title>Home Page</title>
</head>

<header>
  <nav class="nav-bar">
    <a id="nav_logo" href="">OnTheMap</a>
    <div class="nav_div">
      <a class="nav_path" href="">Home Page</a>
      <a class="nav_path" href="">Favourites</a>
      <a class="nav_path" href="">Users Page</a>
    </div>
  </nav>
</header>

<body>
  <h1>This page must be renamed...it isn't the true home page...the url/ is the true home page to align with RESful routes</h1>
</body>
</html>
