<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <!--JS-->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/showMap.js"></script>

   <!--Google Map's api-->
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= api_key %>&callback=initMap" async defer>
  </script>
  <title>Edit your map</title>
</head>

<body>
<header>
  <% include ./partials/_header %>
</header>
  <h1>view a map on this page</h1>
  <input type="text" id="mapSearch" size=50 placeholder="search here">
  <section id="map-container" class="maps">

    <div class="map-container" class="maps"></div>
  </section>
  <div class="editBox"> Delete Pins !</div>
  <div>
   <ul id="pin-list" style="list-style-type:none"></ul>
  </div>
  <div>
      <button id="addMarker">Add new Markers!</button>
  </div>
  <div>
      <button id="deleteMap" data-map-id=<%= mapid %>>Delete Map</button>
  </div>




</body>
</html>
