<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/mapBox.js"></script>

  <!-- CSS Styles -->
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <title>Register</title>
</head>
<body>
<header>
  <% include ./partials/_header %>
</header>

<main>
  <h1>Create Account</h1>
  <form action="/register" method="POST">
    <div>
      <h3>Full Name</h3>
      <input type="text" placeholder="Full name">
    </div>
    <div>
      <h3>Email Address</h3>
      <input type="email" placeholder="Enter email">
    </div>
    <div>
      <h3 id="passwordLength">Password</h3>
      <input type="password" placeholder="Password">
    </div>
    <div class="buttonDiv">
      <button type="submit" >Register</button>
    </div>
  </form>

</main>
</body>
</html>
