<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/mapBox.js"></script>

  <!-- CSS Styles -->
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/register.css" type="text/css"/>
  <title>Register</title>
</head>
<body>
<header>
  <% include ./partials/_header %>
</header>

<main>
  <div class="main_registration">
    <h1>Create Account</h1>
    <form action="/register" method="POST">
      <div class="full_name">
        <h3>Full Name</h3>
        <input name="full_name" type="text" placeholder="Full name">
      </div>
      <div class="email_address">
        <h3>Email Address</h3>
        <input name="email" type="email" placeholder="Enter email">
      </div>
      <div class="password">
        <h3 id="passwordLength">Password</h3>
        <input name="password" type="password" placeholder="Password">
      </div>
      <div class="buttonDiv">
        <button type="submit" >Register</button>
      </div>
    </form>
  </div>

</main>
</body>
</html>
