<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User's Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/mapBox.js"></script>


  </head>
  <header>
    <nav class="nav-bar">
      <a id="nav_logo" href="">OnTheMap</a>
        <div class="nav_div">
          <a class="nav_path" href="">Home Page</a>
          <a class="nav_path" href="">Favourites</a>
          <a class="nav_path" href="">Users Page</a>
        </div>
    </nav>
  </header>
  <body>

    <h1>On The Map!</h1>
<<<<<<< HEAD:views/users.ejs
    <div> Map One!
      <div class="maps" id="map"></div>
    </div>
    <div> Map Two!
        <div class="maps" id="map2"></div>
    </div>

=======
    <div>
      <div class="maps" id="map" >First Map</div>
      <div class="maps" id="map2">Second Map!</div>
    </div>
>>>>>>> 8414637b725cd15e65f21b358e2c22ae1024d5f7:views/index.ejs
    <!--Google Map's api-->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= api_key %>&callback=initMap" async defer>
    </script>
  </body>
</html>
