<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User's Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/mapBox.js"></script>


  </head>

  <body>
  <header>
    <% include ./partials/_header %>
  </header>
    <h1>On The Map! This is the users page</h1>

    <form action="create_page" method="GET">
      <button type="submit">Create New Map</button>
    </form>
    <button type="submit">Edit existing map</button>
    <div>
      <div class="title">Map 1 Created by User</div>
      <div>
        <a action="/sessions/edit"  method="GET"><div class="maps" id="map"></div></a>


    </div>
    <div> Map Two!
      <div class="maps" id="map2"></div>
    </div>
      <!--Google Map's api-->
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= api_key %>&callback=initMap" async defer>
      </script>

  </body>
</html>
