<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User's Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/mapBox.js"></script>
    <script type="text/javascript" src="/scripts/submitNewMap.js"></script>

  </head>

  <body>
  <header>
    <% include ./partials/_header %>
  </header>
    <h1>On The Map! This is the users page</h1>

    <a href="maps/create">Create New Map</a>

    <div class="display-maps">
    <form action="/edit_page" method="GET">

      <a href="" class="mao-title">Map 1 Title</a>
      <a href="">Map 1 description</a>
    </form>
    <form>

      <a href="" class="map-title">Map 2 Title</a>
      <a href="">Map 2 Description</a>
    </form>

    </div>
      <!--Google Map's api-->
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= api_key %>&callback=initMap" async defer>
      </script>
  </body>
</html>
