body {
  background-color: white;
  background-image: url("./media/mapWithPin.jpg");
  background-size: cover;
}

.pageTitle {
  margin-top: 8rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5rem;
  text-align: center;
}

.sectionCreateArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.formArea {
  width: 100%;
  background-color: rgba(184, 145, 220, 0.625);
  padding: 2rem;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}


