body {
  background-color: white;
  background-image: url("./media/mapWithPin.jpg");
  background-size: cover;
}

.pageTitle {
  margin-top: 8rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5rem;
  text-align: center;
}

.sectionCreateArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.formFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(11,61,81, 0.95);
  background-color:rgba(11,61,81, 0.85);
}

.formArea {
  width: 100%;
  /* background-color: rgba(184, 145, 220, 0.625); */
  padding: 2rem;
  padding-top: 0;
}

.title-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

#crt-maps-btn{
  display: flex;
  background:  white;
  color: black;
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 1rem;
}

#crt-maps-btn:hover {
  display: flex;
  background:  rgba(184, 145, 220, 0.625);
  color: white;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 1rem;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#new-map-desc {
  height: 2rem;
  font-size: 1rem;
}

#new-map-title {
  height: 2rem;
  font-size: 1rem;
}

#mapSearch {
  height: 2rem;
  font-size: 1rem;
  margin-left: 20%;
  margin-top:.5rem;
}


