.maps {
  display:flex;
  flex-direction: column;
  height: 400px;
  width: 70%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

#map-container {
  display: flex;

}

#mapSearch {
  size: 100;

}

*{
 box-sizing: border-box;
}

body{
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}

.v-header{
  height: 100vh;
  display: flex;
  align-items: center;
  color: white;
}

.container{
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap  video{
  min-width: 100%;
  min-height: 100%;
}

.header-overlay{
  height: 100vh;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  opacity: 0.80;
  z-index: 1;
  background: #225470;
}

.header-content{
  z-index: 2;
}


.header-content .title_logo{
  font-size: 50px;
  margin-bottom: 0;
}t

.header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

.btn {
  background: #34b3a0;
  color: white;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

@media(max-width:960px){
  .container{
    padding-right: 3rem;
    padding-left: 3rem;
  }
}


