/* * {
  border: 3px solid;
} */

body {
  /* background-color: white; */
  background-image: url("media/mapWithPin.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}




.createContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 8rem;
  flex-wrap: wrap;


}

.btn1 {
  display: flex;
  background: #34b3a0;
  color: white;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

.mapContainer {
  display: flex;
  justify-content: center;
  border: 3px solid;
  width: 100%;
  margin-top: 2rem;
}
.mapBox {
  display: flex;
  height: 10rem;
  width: 80%;
  justify-content: center;
  align-items: center;
  background-color: #34b3a0;
  outline: none;

}


