html {
  height: 100%;
}

body {
  background-color: white;
  background-image: url("./media/mapWithPin.jpg");
  background-size: cover;
}

.createContainer {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.createBtn {
  display: flex;
  background:  rgba(11,61,81, 0.75);
  color: white;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.createBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.userMapsContainer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.userMaps {
  height: 10rem;
  width: 80%;
  background-color: rgba(11,61,81, 0.75);
  align-content: center;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.userMaps:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.singleMap {
  color: white;
}

.favBtn {
  display: flex;
  background:  white;
  color: rgba(184, 145, 220, 0.625);
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fa-bookmark {
  font-size: 2rem;
  color:white;
  background: transparent;
  border: none;
  outline: none;
}






