.nav-bar {
  display: flex;
  background-color: lightblue;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  font-size: 20px;
  z-index: 10;
}

.title_logo {
  font-family: 'Liu Jian Mao Cao', cursive;
  font-size: 30px;
}

.nav_logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.nav_logo a {
  text-decoration: none;
}

.nav_div {
  display: none;
  align-items: center;
  padding: 0 10px;
  overflow: hidden;
}

.nav_path {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 20%;
}

#slide-toggle {
  height: 40px;
  width: 80px;
  margin: 30px;
  border-radius: 10px;
}

.nav-bar .logout {
  display: flex;
  height: 40px;
  width: 80px;
  margin: 30px;
}

.logout button {
   border-radius: 10px;
}

