.nav-bar {
  display: flex;
  background-color: lightblue;
  width: 100%;
  height: 100px;
  z-index: 10;
  position: absolute;
}

.nav_div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.nav_path {
  padding-right: 30px;
  text-decoration: none;
}

#nav_logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 30px;
  text-decoration: none;
}


