html {
  height: 100%;
}

body {
  background-image: url("./media/mapWithPin.jpg");
  background-size: cover;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 200px;
}


.main_registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(11,61,81, 0.95);
  border-radius: 6px;
  background-color:rgba(11,61,81, 0.95);
  height: 600px;
  width: 500px;
  color: white;
}

.main_registration h1 {
  margin-top: 30px;
  color: white;
}

.full_name, .email_address, .password, .buttonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 20px;
}


input {
  height: 26px;
  width: 290px;
}

.buttonDiv button {
  margin-top: 10px;
  height: 30px;
  width: 140px;
  border-radius: 10px;
  font-size: 16px;
}



